{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname"> Black 4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname"> Black 1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product1.jpg"  alt="product image">
            </div>
            <div class="itemname">Black Revolve</div>
            <div class="itemprice">Price: Rs.9000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product2.jpg"  alt="product image">
            </div>
            <div class="itemname">Black Band</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product3.jpg"  alt="product image">
            </div>
            <div class="itemname">Black 360</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product4.jpg"  alt="product image">
            </div>
            <div class="itemname">Black Horizon</div>
            <div class="itemprice">Price: Rs.25000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product5.jpg"  alt="product image">
            </div>
            <div class="itemname">Black Note6</div>
            <div class="itemprice">Price: Rs.35000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product6.jpg"  alt="product image">
            </div>
            <div class="itemname">Black Mini</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product7.jpg"  alt="product image">
            </div>
            <div class="itemname">Black Bass Head</div>
            <div class="itemprice">Price: Rs.4000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product8.jpg"  alt="product image">
            </div>
            <div class="itemname">Black TWS</div>
            <div class="itemprice">Price: Rs.7000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product9.jpg"  alt="product image">
            </div>
            <div class="itemname">Black 11 in 1</div>
            <div class="itemprice">Price: Rs.6000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product10.jpg"  alt="product image">
            </div>
            <div class="itemname">Black Z6 Chip</div>
            <div class="itemprice">Price: Rs.25000.00 </div>
        </div>
    </div>
    </div>
{% endblock  %}